/* ==== Google font ==== */
@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

body {
  background-color: #F6E4B6;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #181D21;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    color: #567552;
}

h1 {
	font-size: 40px;
}

h3 {
	font-weight: 400;
}

h4 {
	font-weight: 400;
	font-size: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
}


a {
    color: #D45D3D;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #567552;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.navbar-inverse .navbar-brand {
  color: #F6E4B6;
}
.navbar-inverse .navbar-nav > li > a {
    color: #F6E4B6;
}

.btn-theme  {
  color: #fff;
  background-color: #fd680e;
  border-color: #fd680e;
}
.btn-theme:hover  {
  color: #fff;
  background-color: #444;
  border-color: #444;
}
form.signup {
	margin-top: 30px;
}
form.signup button.btn {
	text-transform: uppercase;
	font-weight: 700;
}
form.signup input.form-control:focus {
	border-color: #fd680e;
}


/* Nav */
.navbar-inverse .navbar-nav > .active > a{
  color: #D45D3D;
}
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #D45D3D;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #567552;
  background-color: transparent;
}

a.navbar-brand {
	color: #567552 !important;
	font-weight: 900;
	text-transform: uppercase;
}
a.navbar-brand:hover {
    color: #F6E4B6 !important;
}
/*jumbotron*/
.jumbotron {
  padding: 20px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #D45D3D;
}
/*place holder img*/
.jumbotron img { 
  display: inline; 
}

.jumbotron h1,
.jumbotron .h1 {
  display: inline;
  font-size: 80px;
  margin: 0px;
  padding: 0px;
  color: #567552;
}
.jumbotron h2,
.jumbotron .h2 {
  font-size: 40px;
  margin: 5px;
  padding: 0px;
  color: inherit;
}
.jumbotron p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 200;
}
.container .jumbotron {
  border-radius: 4px;
}
/*partials*/
.badge {
  padding: 3px 7px;
  font-size: 20px;
  font-weight: 400;
  color: #D45D3D;
  background-color: #5E5E56;
  border-radius: 6px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-bottom: 4px;
  background-color: #fff;
  border: 2px solid #5E5E56;
  border-radius: 4px;
}

/* footer */
#footer {
	background: #181D21;
	padding: 15px 0 5px;
  border-radius: 4px;
}

p.copyright {
	color: #F6E4B6;
	text-align: center;
}	