<h2>{{message}}</h2>
<div class="col-md-12">
	<div class="row">
		<div class="col-sm-4">
			<p><b>mew</b><sup>1</sup> <span id='phonetic'> |myo͞o| </span></p>

			<p>verb: (of a person or a team member) give accolades and acknowledgement to a job well done:<i> after the successful launch the team was mewing with excitment</i>  </p>


			<p><b>mew</b><sup>2</sup> <span id='phonetic'> |myo͞o| </span></p>
			<p>verb: (of a cat or some kinds of bird) make a characteristic high-pitched crying noise:<i> a throng of cats and kittens mewing to be fed </i> | (as noun mewing) :<i> the mewing of gulls.</i> </p>

			<p>ORIGIN Middle English: imitative.</p>
		</div>
		<div class="col-sm-8">
			<img src="/img/mewer-screen.png" alt="Mewer in Action">
		</div>
	</div>
</div>