
<div class="col-md-12" id="about">
	<div class="row">
		<div class="col-sm-8">
			<h2>{{message}}</h2>
		<div class="definition">
			<p><b>mew</b><sup>1</sup> <span id='phonetic'> |myo͞o| </span></p>

			<p>verb: (of a person or a team member) give accolades and acknowledgement to a job well done:<i> after the successful launch the team was mewing with excitment</i>  </p>


			<p><b>mew</b><sup>2</sup> <span id='phonetic'> |myo͞o| </span></p>
			<p>verb: (of a cat or some kinds of bird) make a characteristic high-pitched crying noise:<i> a throng of cats and kittens mewing to be fed </i> | (as noun mewing) :<i> the mewing of gulls.</i> </p>

			<p>ORIGIN Middle English: imitative.</p>
		</div>
	</div>
		<div class="col-sm-4">
			<h2>RECENT MEWS</h2>
			<ul>
				<li class='recentmews' ng-repeat="mew in recentUsers"><h4>{{mew.name}}<h4><p>Was Mewed: "{{mew.shoutouts[mew.shoutouts.length-1].text}}"<p></li>
			</ul>
		</div>
	</div>
</div>