<div id = "newMew">
	<h2>{{message}} {{user.name}}</h2>
	
  <form name="mew" novalidate class="simple-form">
    <p>Explain yo'self...
      <input 
    	<textarea class="form-control" ng-model="shout.text" ng-minLength="1" required></textarea>
    <p>
      <span style="color:red" ng-show="mew.$dirty && mew.$invalid">
        <span ng-show="mew.$error.required">Please tell us why.</span>
      </span>
    </p>
    <button ng-click="go()" ng-disabled="mew.$pristine||(mew.$dirty && mew.$invalid)" class="btn btn-success" type="submit" >Mew!</button>
		<button ng-click="redirect()" class="btn btn-warning" type="cancel">Cancel</button>
  </form>
  
</div>
