<div id = "newMew">
	<h2>{{message}}</h2>
	
  <form name="mew" novalidate class="simple-form">
    <p>Explain yo'self...
    	<textarea class="form-control" ng-model="mewComment" ng-minLength="1" required></textarea>
      <span ng-show="mew.$error.required">But tell us why.</span>
    </p>
    <button ng-click="go('/mew/confirm')" ng-disabled="mew.$dirty && mew.$invalid" class="btn btn-success" type="submit" >Mew!</button>
		<button class="btn btn-warning" type="cancel">Cancel</button>
  </form>
  
</div>