<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <!--Keep this stuff -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../img/favicon.png">

    <title>Mewer | A shout-out app for cool people</title>

    <!-- Bootstrap -->
    <link href="../stylesheet/bootstrap.css" rel="stylesheet">
    <link href="../stylesheet/bootstrap-theme.css" rel="stylesheet">

    <!-- siimple style -->
    <link href="../stylesheet/mew.css" rel="stylesheet">
    
   <!-- Keep these scripts, I think -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="../javascript/app.js"></script>
    <script type="text/javascript" src="../javascript/main.controller.js"></script>
    <script type="text/javascript" src="../javascript/user.controller.js"></script>
    <script type="text/javascript" src="../javascript/userId.controller.js"></script>
    <script type="text/javascript" src="../javascript/newMew.controller.js"></script>
    <script type="text/javascript" src="../javascript/confirmMew.controller.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../javascript/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular-resource.min.js"></script>
    <script type="text/javascript" src="../javascript/user.factory.js"></script>
    <script src="//jpillora.com/xdomain/dist/xdomain.min.js"></script>
    <script type="text/javascript" src="../javascript/mew.factory.js"></script>

  </head>



  <body>

    <div class="container">
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#/">Mewer</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li ><a href="#/users/5526d064941cb8030000000f">My Mews</a></li>
              <li><a href="#/users">Cool Cats</a></li>
            </ul>
<!--             <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login with Google</a></li>
            </ul> -->
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12">
          <div class="jumbotron">
            <div class="text-center">
              <img src="http://www.clker.com/cliparts/2/d/5/f/11954407231266496009liftarn_Cat_silhouette.svg.hi.png" width="192" height="209">
              <h1 >MEWER<h1>
              <h2>Give a Mew where a Mew is due!</h2>
<!--               <button type="button" class="btn btn-default">Login with Google</button>  -->
            </div>      
          </div>
        </div>
      </div>

    <div id="container">
      <div data-ng-view></div>
    </div>
  	<div id="footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 col-lg-offset-3">
    					<p class="copyright">App Copyright &copy; 2015 - Detroit Labs</p>
    			</div>
    		</div>		
    	</div>	
  	</div>   
  </body>
</html>
